
<!DOCTYPE html>
<html >
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
        <title> Ewoolution</title>
        <link rel = "stylesheet" type="text/css" href = "../public/css/stylesheet.css">
</head>
   <body class="noscroll">
  
<!--
       <div class="debug">
    <label><input type="checkbox"> Debug</label>
  </div>
-->
     <div class=" noscroll parallax" id="locker" >
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base " >
        <div class="title"></div>
      </div>
    </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
          <div class ="ninetyheight"></div>
        <div class="title"></div>
      </div>
      <div id="parallax__layer--back_1" class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        
          <div class="title" id="hat_holder">

       


<!--            <div class="hat" ><img src="public/img/IMG_0935.jpg" /></div>-->
            <div class="hat" ><img src="public/img/IMG_0936.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0929.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0920.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0921.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0922.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0923.jpg" /></div>
            <div class="hat" ><img src="public/img/e1.jpg" /></div>
            <div class="hat" ><img src="public/img/e2.jpg" /></div>
            <div class="hat" ><img src="public/img/e3.jpg" /></div>
            <div class="hat" ><img src="public/img/e4.jpg" /></div>
            <div class="hat" ><img src="public/img/e5.jpg" /></div>
            <div class="hat" ><img src="public/img/e6.jpg" /></div>
            <div class="hat" ><img src="public/img/e7.jpg" /></div>
            <div class="hat" ><img src="public/img/e8.jpg" /></div>
            <div class="hat" ><img src="public/img/e9.jpg" /></div>
            <div class="hat" ><img src="public/img/e10.jpg" /></div>
            <div class="hat" ><img src="public/img/e11.jpg" /></div>
            <div class="hat" ><img src="public/img/e12.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0930.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0931.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0932.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0933.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0934.jpg" /></div>
            <div class="hat" ><img src="public/img/IMG_0924.jpg" /></div>
            
            </div>
      </div>
        
      <div  class="parallax__layer parallax__layer--back">
       
         
      </div>
         </div>
       </div>


<script src="public/js/jquery-1.9.1.min.js"></script>
<script src="public/js/main.js"></script>

    <script type="text/javascript" >
//    
       </script>
<!--       </div>   -->
    </body>
   
   </html>